.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#chart {
  padding: 10px 10px 20px 50px;
  text-align: initial;
}

.bar {
  display: inline-block; /* horizontal */
  background-color: teal;
  height: 20px;
  margin-left: 2px;
}
